<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test - AnacondaJS</title>
</head>
<body>
    <main>        
        <h1>Hello!</h1>
        <button>Go go go</button>
        <ul>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
        </ul>
        <p id="message" style='opacity:0;'>
            Show message on click
        </p>
    </main>
    <script src="../../anaconda.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>